@font-face {
  font-family: Inconsolata;
  src: url("/Inconsolata.otf") format("opentype");
}
		
body {
  font-family: Inconsolata;
  color: Black;
  padding: 0px;
  margin: 0px;
}

textarea {
	width: 100%;
}

.noscript {
    width: 100%;
    height: 100%; /* will cover the text displayed when javascript is enabled*/
    z-index: 999; /* higher than other z-index */
    position: absolute;
    background: White;
}
.noscript div{
    width: 50%;
    position: relative;
    border-radius: 5px;
    background: Gray;
    text-align: center;
    top: 50%; bottom: 50%;
    left: 25%; right: 25%;
    box-shadow: 0px 0px 20px #000000;
}
.noscript img{
    width: 2%;
    height: auto;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.Upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}